<div class="results-block">
<%= render 'layouts/messages' %>
</div>
<% if @stock %>
    <div class="card card-header results-block">
        <strong>Symbol: </strong><%= @stock.ticker%>
        <strong>Name: </strong><%= @stock.name%> 
        <strong>Price: </strong><%= @stock.last_price %>
        <% if request.path == my_portfilio_path %>
            <% if current_user.can_track_stock?(@stock.ticker) %>
                <%= link_to 'Add to portfilio', user_stocks_path(user: current_user, ticker: @stock.ticker), class: "btn btn-primary", method: :post  %>
            <% else %>
            <div class= "badge badge-secondary">
                You are already tracking
                <% if !current_user.under_stock_limit? %>
                    the maximun number of stocks!
                <% else %>
                    this stock!
                <% end %>
            </div>
        <% end %>
        <% end %>
    </div>
<%end%>